.diseases-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.diseases-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.diseases-grid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.disease-card {
    background-color: rgb(242, 234, 225);
    border-radius: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    width: calc((100% / 6) - 1.5rem);
    overflow: hidden;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;

}

.disease-card:hover {
    transform: translateY(-5px);
}

.disease-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: unset;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.disease-icon {

    height: 70%;
    object-fit: contain;
}

@media (max-width: 900px) {
    .diseases-grid {
        gap: 1rem;
    }

    .disease-card {
        width: 150px;
        height: 150px;
        padding: 1rem
    }

    .disease-title {
        font-size: 1rem;
    }

    .disease-icon {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .diseases-title {
        font-size: 1.5rem;
    }

    .disease-card {
        /* width: 100px;
        height: 100px; */
        /* padding: 0.5rem; */
        width: 45%;
    }

    .disease-title {
        font-size: 0.75rem;
    }

    .disease-icon {
        width: 70%;
    }

}