#homePage .emergency-call {
    color: rgb(255, 86, 87, 255);
    font-weight: bold;
}

#homePage .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;

}

#homePage .text-content {
    max-width: 50%;
}

#homePage .hero-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    line-height: 50px;
}

#homePage .hero_desc {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 20px;
}

#homePage .searchArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homePage .searchArea .searchbar {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #448e94;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#homePage .searchArea input {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 0 10px;
    font-size: 1em;
}

#homePage .searchArea .captureBtn {
    height: 30px;
    color: white;
    padding: 10px 20px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

#homePage .searchArea .searchBtn {
    height: 52px;
    color: white;
    padding: 10px 20px;
    background-color: rgb(223, 137, 52);
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    border: unset;
    cursor: pointer;
}


#homePage .professional_image {
    width: 40%;
}

@media screen and (max-width: 900px) {
    #homePage .hero-section {
        flex-direction: column;
        height: initial;
    }

    #homePage .text-content {
        max-width: 100%;
        text-align: center;
    }

    #homePage .searchArea {
        flex-direction: column;
        margin-top: 20px;
    }

    #homePage .searchArea .searchbar {
        width: 100%;
        margin-right: 0;
    }

    #homePage .searchArea .searchBtn {
        width: 100%;
        margin-top: 10px;
    }

    #homePage .professional_image {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    #homePage .hero-title {
        font-size: 1.5rem;
        line-height: 30px;
    }

    #homePage .hero_desc {
        font-size: 1em;
    }

}