#HospitalDashboard {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 20px;
	background-color: #dbf4ff;
}

#HospitalDashboard h1 {
	text-align: center;
	margin-bottom: 20px;
}

#HospitalDashboard .dashboard {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

#HospitalDashboard .card {
	background-color: #84c4e0;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
}
#HospitalDashboard .card3 {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Vertically centers the content */
	align-items: center; /* Horizontally centers the content */
	/* Ensure the card takes full height of its container */
	text-align: center;
}

#HospitalDashboard .card3 h2 {
	margin: 0;
}

#HospitalDashboard .card h2 {
	margin-top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#HospitalDashboard .badge {
	background-color: #141414e6;
	color: #fff;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 0.8em;
}

#HospitalDashboard ul {
	list-style-type: none;
	padding: 0;
}

#HospitalDashboard li {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 4px;
	cursor: pointer;
}

#HospitalDashboard li:hover {
	background-color: #e9e9e9;
}

#HospitalDashboard .modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

#HospitalDashboard .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	border-radius: 8px;
}

#HospitalDashboard .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#HospitalDashboard .close:hover,
#HospitalDashboard .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#HospitalDashboard button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

#HospitalDashboard button:hover {
	background-color: #45a049;
}

#HospitalDashboard input[type='text'],
#HospitalDashboard input[type='date'] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
